header{
    background-color: white; /*header background color*/
    padding: 0;
    border-bottom: 1px solid #e72929;  /* This line is create a bottom line in header*/
}
a{
    color: #af1313; /*Normal Text color*/
}
a:hover{
    background-color: #e72929;   /*Change background when mouse hover*/
    color: white; /*Change text color when mouse hover*/
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 1em;
    font-size: 17px;
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    padding: 1em;
    display: inline-block;
    font-size: 17px;
}
