<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Food Corner</a>
        <nav>
            <ul>
                <li>
                    <div>
                        <a href="cart-page">
                        <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_cart-eed150.svg" alt="Cart" width="24" height="24"> Cart</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>