<div *ngIf="tags" [style.justifyContent]="justifyContent">
    <a *ngFor="let tag of tags" routerLink="/tag/{{tag.name}}">
        {{tag.name}}
    </a>
</div>

<div *ngIf="foodPagetags" [style.justifyContent]="justifyContent">
    <a *ngFor="let tagname of foodPagetags" routerLink="/tag/{{tagname}}">
        {{tagname}}
    </a>
</div>
<!-- <img alt="image" src="https://b.zmtcdn.com/data/o2_assets/2b5a5b533473aada22015966f668e30e1633434990.png" loading="lazy" width="90"  >

<img alt="image" src="https://b.zmtcdn.com/data/o2_assets/52eb9796bb9bcf0eba64c643349e97211634401116.png" loading="lazy" width="90">

<img alt="image" src="https://b.zmtcdn.com/data/o2_assets/d0bd7c9405ac87f6aa65e31fe55800941632716575.png" loading="lazy" width="90"> -->