div{
    display: flex;
    flex: wrap;
}
div a{
    background-color: #c2c2c2;
    padding: .3rem 1rem;
    margin: .2rem .15rem;
    border-radius: 10rem;
    color: rgb(18, 18, 20);
    font-weight: 600;
    text-decoration: none;
}