<div>
    <input type="text" placeholder="Search Food Name" [(ngModel)]="searchItem" (change)="search()" >
    <button (click)="search()">Search
        <svg aria-hidden="true" class="search_svg" viewBox="0 0 25 25"><path class="gray10_stroke_sb" stroke="#007DAA" stroke-width="2.5" stroke-linecap="round" stroke-miterlimit="10" fill="none" d="M23.75 23.75l-9-9"></path><circle class="gray10_stroke_sb" stroke="#007DAA" stroke-width="2.5" stroke-linecap="round" stroke-miterlimit="10" cx="9" cy="9" r="7.75" fill="none"></circle><path fill="none" d="M25 25h-25v-25h25z"></path></svg></button>
</div>